<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832014577638-fd15nsh7pl8heehos0kftl0tqb4n59fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832014577638-fd15nsh7pl8heehos0kftl0tqb4n59fc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJp_fetDd5IviRythvEkUAc40SZgL6ymQ</string>
	<key>GCM_SENDER_ID</key>
	<string>832014577638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ausm.userProfile</string>
	<key>PROJECT_ID</key>
	<string>user-profile-5b771</string>
	<key>STORAGE_BUCKET</key>
	<string>user-profile-5b771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832014577638:ios:2390f1aa1e3754d67db027</string>
</dict>
</plist>